@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: rgb(231, 250, 250);
    color: #0f141e;

 /* font-size: 16px;
    font-weight: normal; 
    font-family: 'Roboto', sans-serif;
    */
    font: normal 16px 'Roboto', sans-serif;
}

.logo {
    width: 250px; 
    border-radius: 10px;
    box-shadow: -13px -13px 14px rgba(0, 0, 0, 0.25);

}

.info p {
 color: #86898f;
 
}

#games {
margin: 0;    
font-style: italic;
font-weight: bold;
text-decoration: none;
/*text-transform: uppercase;*/
 letter-spacing: 8px;
}

.table {
color: rgb(16, 204, 57);
padding: 15px;
border: 5px solid black;
margin: 20px;
}

.container {
    max-width: 75%;
    margin: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
 }

 a:active {
    color: red;
 }
 
 a:visited {
    color: gray;
 }

 
 
 .table {
    width: 100%;
 }

 .link-list {
    list-style: none;
    padding: 0;
 }

 .contact h3 {
     text-align: left;
 }

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
    width: 500px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row2 {
    width: 480px;
}

.btn {
    color: #000;
    padding: 15px 2px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}